@media all and (min-width:320px) {
    .overlay{
        width: 100%;
        height: 300px;
        background-color:rgba(0,0,0,0.8);
        position: fixed;
        top: 0px;
        left:0px;
        z-index: 500;
        display: none;

    }
    .overlay iframe{
        margin-top:20px;
        margin-left:102px;
    }
    #closeBtn{
        width: 40px;
        height: 40px;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 40px;
    
        display: inline-block;
        position: absolute;
        top:20px;
        right: 20px;
    }
    body{
        padding:20px 0;
        width:300px;
        height:auto;
        margin:0 auto;
        background-color:rgb(10,10,10);
    }
    header:after{
        content:".";
        height:18px;
        visibility:hidden;
        display:block;
        clear:both;
    }
    header .search,.nav {
        display:none;
    }
    .logo {
        float:left;
        position:relative;
        left:10px;
    }
    .logo img{
        width:86px;
        height:24px;
    }
    header .logo:hover{
        cursor:pointer;
    }
    header{
        position:relative;
    }
    header .sidemenu{
        position:absolute;
        left:-117px;
        top:30px;
        background-color:rgb(43,43,43);
        z-index:7;
        border-radius: 1px;
        display:none;
        /*width:100px;*/
    }
    header .sidemenu ul li{
        list-style: none outside;
        padding:10px;
        font-family:"arial";
        font-weight:bold;
        text-align:left;
        border-bottom:1px solid white;
        width:100px;
        height:15px;
        line-height:15px;
        margin-top:5px;
    }
    header .sidemenu ul li a{
        text-decoration: none;
    }
    header .sidemenu ul li:last-child{
        border-bottom:none;
    }
    header .sidemenu ul li:hover{
        cursor:pointer;
    }
    header .pop-cover{
        position:absolute;
        display:none;
        background-color:black;
        opacity:0.4;
        width:100%;
        z-index: 6;
        top:26px;
    }
    header .share{
        display:none;
    }
    .showcase{
        position:relative;
        width:100%;
        height:200px;
        overflow:hidden;
    }
    .showcase img, .showcase span i{
        position:absolute;
    }
    .showcase .description{
        display:none;
    }
    .showcase>.showcase-img>img:first-child{
        display:block;
    }
    .showcase img,.showcase>.showcase-img>img:nth-child(2){
        display:none;
    }
    .showcase img:first-child{
        display:inline;
    }
    .showcase span .fa-circle{
        position:absolute;
        font-size:12px;
        color:white;
        bottom:10px;
        opacity:0.5;
    }
    .showcase span .fa-circle:first-child {
        opacity:1;
        left:120px;
    }
    .showcase span .fa-circle:nth-child(2){
        left:135px;
    }
    .showcase span .fa-circle:nth-child(3){
        left:150px;
    }
    .showcase span .fa-circle:nth-child(4){
        left:165px;
    }
    .showcase span .fa-circle:nth-child(5){
        left:180px;
    }
    .showcase span .fa-chevron-left:nth-child(6),.showcase span .fa-chevron-right:last-child {
        position:absolute;
        bottom:65px;
        color:white;
        /*opacity:0.8;*/
        /*border:1px solid white;*/
        display:block;
        font-size:15px;
    }
    .showcase span .fa-chevron-left:nth-child(6){
        left:10px;
    }
    .showcase span .fa-chevron-right:last-child{
        right:10px;
    }
    .showcase span .fa-chevron-left:nth-child(6),.showcase span .fa-chevron-right:last-child:hover{
        cursor:pointer;
    }
    .showcase .cover{
        position:relative;
        left:0;
        top:0;
        z-index:5;
        display:block;
        width:100%;
        height:200px;
    }
    .showcase .cover img{
        width:100%;
        height:200px;
    }
    .showcase .cover div{
        position:absolute;
        height:24px;
        width:94px;
    }
    .showcase .cover div:hover{
        cursor:pointer;
    }
    .showcase .cover div a{
        text-decoration:none;
        font-size:12px;
        font-family:"arial";
        line-height:24px;
    }
    .showcase .cover div a i{
        font-size:14px;
        margin:0 10px 0 5px;
    }
    .showcase .cover div:nth-child(3) a i{
        margin:0 20px 0 5px;
    }
    .showcase .cover div:nth-child(2){
        left:5px;
        bottom:40px;
        background-color:red;
    }
    .showcase .cover div:nth-child(3){
        left:5px;
        bottom:10px;
        background-color:rgb(137,137,137);
    }


    .showcase:after{
        content:".";
        height:10px;
        visibility:hidden;
        display:block;
        clear:both;
    }
    .showcase img:first-child{
        display:block;
    }
    .showcase-text{
        display:none;
    }
    .showcase-text1{
        display:block;
    }
    .showcase-text1 div:nth-child(2) i{
        margin:0 10px 0 5px;
    }
    .non-mobile{
        display:none;
    }
    .sign-in {
        float: right;
        width:100px;
        height:40px;
        background-color:red;
        text-align:center;
        line-height:40px;
        font-size:18px;
        color:white;
        font-family:"arial";
        display: none;
    }  
       #navBtn{
            float:left;
            width: 25px;
            height: 24px;
            text-align: center;
    }
       .menu-bar{
           width:60px;
           height:55px;
           margin:-15px 0 0 -18px;
       }
       header>a:hover{
           cursor:pointer;
       }
       .mobile-search{
           float:right;
       }

    .showcase img {
        width: 100%;
        height: auto;
        vertical-align: top;
        margin-top:5px;
    }
    .list{
        margin-top:16px;
    }
    .list .big{
        display:none;
    }
    .list .small>span:first-child{
        float:left;
    }
    .list .small>span:nth-child(2){
        float:right;
    }
    .list .small>span:nth-child(2):hover{
        cursor:pointer
    }
    .list .small>span:after{
        content:".";
        height:10px;
        visibility:hidden;
        display:block;
        clear:both;
    }
    .list h2{
        clear:both;
        color:white;
        font-size:16px;
        font-weight:bold;
        font-family:"arial";
    }
    .list .sub-option{
        width:100%;
        height:100%;
        margin-top:5px;
    }
    .list .sub-option div{
        width:32%;
        float:left;

    }

    .list .sub-option img{
        width:100%;
        height:100%;
    }
    .sub-option div:nth-child(2),.sub-option div:nth-child(3){
        margin-left:2.0%;
    }
    .sub-option h3{
        font-size:12px;
        font-weight:bold;
        font-family:"arial";
        height:32px;
    }
    .list .sub-option span{
        font-family:"arial";
        font-size:10px;
        color:rgb(138,135,135);
    }
    .list .sub-option span:first-child{
        font-weight:bold;
    }
    .list .sub-option .type{
        font-weight:bold;
        float:left;
        margin-top:2px;
    }
    .list .sub-option .grade{
        float:right;
    }
    .list .sub-option .grade img{
        width:15px;
        height:14px;
    }
    .list .sub-option div:nth-child(2){
        /*margin-bottom:-2px;*/
        margin-top:-2px;
    }

    .list .mobile .sub-option:nth-child(3) div:nth-child(2) h3 {
        height:32px;
    }
    .list .mobile .sub-option:nth-child(3) div:nth-child(2) .type {
        margin-bottom:2px;
    }
    .list .mobile .sub-option img, .list .mobile .sub-option h3:hover{
        cursor:pointer;
    }
    .list .sub-option:after{
        content:".";
        height:0;
        visibility:hidden;
        display:block;
        clear:both;
    }
    .list .mobile1 .sub-episode {
        font-family:"arial";
        margin-bottom:10px;
    }
    .list .mobile1 .sub-episode h3{
        font-size:18px;
        font-weight:bold;
        color:rgb(138,135,135);
        margin:7px 0;
    }
    .list .mobile1 .sub-episode h3:hover {
        cursor:pointer;
    }
    .list .mobile1 .sub-episode p {
        font-size:12px;
        /*word-wrap: break-word;*/
        white-space:pre-line;
    }
    .list .mobile1 .sub-episode p:hover {
        cursor:pointer;
        text-decoration:underline;
    }
    .list .mobile1 .sub-episode img:hover {
        cursor:pointer;
    }
    .showcase-text1 div img{
        position:absolute;
        width:16%;
        height:auto;
        left:40%;
        bottom:30%;
    }
    .showcase-text1 div img:hover{
        cursor:pointer;
    }
    .showcase-text1 div:nth-child(2){
        position:absolute;
        left:8px;
        bottom:12px;
        width:90px;
        height:25px;
        background-color:rgb(96,93,93);
    }
    .showcase-text1 a{
        height:25px;
        line-height:25px;
        text-decoration:none;
        font-family:"arial";
        font-size:14px;
    }
    .showcase-text1 a i{
        margin:10px 10px 0 5px;
    }


} /* --- mobile base styles end --- */







@media all and (min-width:980px) {
    body{
        padding:20px 0;
        width:950px;
        height:auto;
        margin:0 auto;
        background-color: rgb(20,20,20);
    }
    .teste{
        margin-right: 120px;
        height:62px;
        line-height:62px;
        float:left;
        margin-bottom:10px;
        /*margin-top:-5px;*/
        /*background-color:red;*/
        display:inline-block;
    }
    .overlay iframe{
        margin-left:180px;
/*        margin-right:30px;*/
    }
    #navBtn{
        display:none;
    }
    .mobile-search {
        display:none;
    }

    header{
        width:100%;
        height:auto;
    }
    header .logo img{
        float:left;
        width:240px;
        height:62px;
        margin-left:-4px;
    }
    header .logo img:hover{
        cursor:pointer;
    }
    header .search{
        display:inline-block;
        float:right;
    }
    header .search img{
        width:373px;
        height:62px;
        margin-right:92px;
    }
    header .search span:nth-child(2) img{
        display:inline-block;
        width:62px;
        height:62px;
        line-height:62px;
        margin-right:5px;
    }
    header .search span:nth-child(3){
        font-family:"arial";
        font-size:18px;
        height:62px;
        line-height:62px;
        float:right;
        margin-bottom:10px;
        /*margin-top:-5px;*/
        /*background-color:red;*/
        display:inline-block;
    }
    header .sidemenu{
        display:none;
        /*height:auto;*/
    }
    header .pop-cover{
        display:none;
    }
    header:after{
        content:".";
        height:0;
        visibility:hidden;
        display:block;
        clear:both;
    }
    .list .mobile{
        display:none;
    }
    .nav{
        display:block;
        width:100%;
        height:58px;
        background-color:red;
    }
    .nav ul{
        margin-left:30px;
    }
    .nav ul li{
        float:left;
        list-style: none outside;
        width:150px;
        height:55px;
        font-family:"arial";
        font-size:20px;
        font-weight:bold;
        /*background-color:blue;*/
        text-align: center;
        line-height:55px;
        /*margin-left:20px;*/
    }
    .nav ul li a{
        text-decoration: none;
        color: yellow;
    }
    .nav ul li:first-child a{
        text-decoration: underline;
    }
    
    .showcase span{
        display:block;
    }

    .showcase{
        margin-bottom: 24px;
        position:relative;
        width:100%;
        height:521px;
        overflow:hidden;
    }
    .showcase img{
        margin-top:-1px;
        position:absolute;
        /*display:block;*/
    }
    .showcase>.showcase-img>img:first-child{
        display:none;
    }
    .showcase>.showcase-img>img:nth-child(2){
        display:block;
    }


    .showcase span .fa-circle{
        position:absolute;
        font-size:12px;
        color:white;
        bottom:20px;
        opacity:0.5;
    }
    .showcase span .fa-circle:first-child {
        opacity:1;
        left:455px;
    }
    .showcase span .fa-circle:nth-child(2){
        left:475px;
    }
    .showcase span .fa-circle:nth-child(3){
        left:495px;
    }
    .showcase span .fa-circle:nth-child(4){
        left:515px;
    }
    .showcase span .fa-circle:nth-child(5){
        left:535px;
    }
    .showcase span .fa-chevron-left:nth-child(6),.showcase span .fa-chevron-right:last-child {
        position:absolute;
        bottom:270px;
        color:white;
        /*opacity:0.8;*/
        /*border:1px solid white;*/
        display:block;
        font-size:40px;
    }
    .showcase span .fa-chevron-left:nth-child(6){
        left:20px;
    }
    .showcase span .fa-chevron-right:last-child{
        right:20px;
    }
    .showcase span .fa-chevron-left:nth-child(6),.showcase span .fa-chevron-right:last-child:hover{
        cursor:pointer;
    }
    .showcase .description{
        position:absolute;
        width:300px;
        height:150px;
        background-color:rgba(0,0,0,0.5);
        left:600px;
        bottom:70px;
    }
    .showcase .description span{
        color:white;
    }
    .showcase .cover{
        display:none;
    }
    .showcase:after{
        content:".";
        height:0;
        visibility:hidden;
        display:block;
        clear:both;
    }

    .showcase-text{
        display:block;
    }
    .showcase-text div{
        position:absolute;
        z-index:2;
        font-family:"arial";
        font-size:20px;
    }
    .showcase-text div a{
        text-decoration:none;
    }
    .showcase-text div:first-child{
        width:160px;
        height:50px;
        line-height:50px;
        text-align: right;
        box-sizing:border-box;
        padding-right:10px;
        background-color:red;
        left:10px;
        bottom:60px;
    }
    .showcase-text div:nth-child(2){
        width:140px;
        height:50px;
        line-height:50px;
        box-sizing:border-box;
        padding-right:30px;
        text-align: right;
        background-color:rgb(137,137,137);
        left:200px;
        bottom:60px;
    }
    .showcase-text div i{
        font-size:25px;
        text-align:left;
        line-height:50px;
        display:inline-block;
        float:left;
        margin-left:10px;

    }
    .showcase-text1 div:nth-child(2){
        left:12px;
        bottom:70px;
        height:50px;
        width:200px;
        text-align: left;
        font-family: "arial";
    }
    .showcase-text1 div:nth-child(2) i, .showcase-text1 div:nth-child(2) a{
        line-height:50px;
        font-size:25px;
    }
    .showcase-text1 div:nth-child(2) i{
        margin-left:15px;
        margin-right:35px;
    }
    .list h2{
        clear:both;
        color:white;
        font-size:32px;
        font-weight:bold;
        font-family:"arial";
        margin-bottom:10px;
    }
    .non-mobile .left>div>img:hover,.non-mobile .right>div>div>img:hover{
        cursor:pointer;
    }
    .list h3:hover,.list h4:hover{
        cursor:pointer;
    }
    .non-mobile{
        font-family:"arial";
    }
    .non-mobile .left h3{
        font-size:30px;
        font-weight:bold;
    }
    .non-mobile .left .type{
        font-weight:bold;
        margin:10px 0 9px 0;
    }
    .non-mobile .left div:nth-child(2) h3 span{
        font-size:18px;
    }
    .non-mobile .right h3,.non-mobile .right .type{
        font-weight:bold;
    }
    .list .left div div:nth-child(4) img{
        /*float:left;*/
        width:25px;
        height:25px;
        line-height:25px;
    }
    .list .left div div:nth-child(4) span{
        position:relative;
        left:5px;
        bottom:5px;
        display:inline-block;
    }
    .non-mobile{
        display:block;
    }
    .non-mobile .left div div:nth-child(3),.list .left div div:nth-child(4) span{
        color:rgb(138,135,135);
        font-size:18px;
    }
    .non-mobile .left div div:nth-child(4) span,.non-mobile .left div div:nth-child(4) img{
        float:left;
    }
    .non-mobile .left div div:nth-child(4) span{
        margin-top:15px;
    }
    .non-mobile .left div>img{
        margin-bottom:20px;
    }
    .non-mobile .left div:nth-child(1){
        margin-bottom: 58px;
    }
    .non-mobile .left{
        float:left;
    }
    .non-mobile .right{
        float:right;
    }
    .non-mobile .right .row h4{
        font-size:18px;
        height:36px;
        width:151px;
    }
    .non-mobile .right .row>div{
        float:left;
        position:relative;
        margin-bottom:13px;
    }
    .non-mobile .right .row>div>img{
        margin-bottom:6px;
    }
    .non-mobile .right .row .type{
        float:left;
        color:rgb(138,135,135);
    }
    .non-mobile .right .row .grade{
        float:right;
    }
    .non-mobile .right .row .grade span {
        color:rgb(138,135,135);
        margin-left: 5px;
    }
    .non-mobile .right .row div:nth-child(3){
        right:8px;
    }
    .non-mobile .right .row div:nth-child(2) {
        right:16px;
    }
    .non-mobile .right .row div:nth-child(1) {
        right:24px;
    }
    .non-mobile .right>div:nth-child(2):after,.list:after{
        content:".";
        height:0;
        visibility:hidden;
        display:block;
        clear:both;
    }
    .non-mobile .right .row div .type{
        margin-top:10px;
    }
    .list .small{
        display:none;
    }
    .list .big{
        margin-top: 40px;
        margin-bottom: 32px;
        display:block;
    }
    .list .big span:first-child{
        float:left;
    }
    .list .big span:nth-child(2){
        /*margin-top: 60px;*/
        float:right;
        margin-top:27px;
    }
    .list .big>span:nth-child(2):hover{
        cursor:pointer
    }
    .list .big:after{
        content:".";
        height:0;
        visibility:hidden;
        display:block;
        clear:both;
    }
    .list .mobile1 .sub-episode,.mobile1 .sub-episode img{
        width:232px;
    }
    #imgs .list .mobile1 .sub-episode,.mobile1 .sub-episode img{
        width:200%;
    }
    .list .mobile1 .sub-episode{
        float:left;
    }
    .list .mobile1 .sub-episode h3{
        margin-top:10px;
        font-size:20px;
        margin-bottom:10px;
    }
    .list .mobile1 .sub-episode p{
        font-size:14px;
        word-wrap: break-word;
    }

    .mobile1 .sub-episode:nth-child(2){
        position:relative;
        left:6.5px;
    }
    .mobile1 .sub-episode:nth-child(3){
        position:relative;
        left:13px;
    }
    .mobile1 .sub-episode:last-child{
        position:relative;
        left:19.5px;
    }




} /* --- desktop styles end --- */